#header {
  display: flex;
  flex-direction: column;
  min-height: 60px;
  padding:0;
}
#main {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#footer {
  display: flex;
  flex-direction: column;
}



/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
