.card {
  height: 100%;
  max-height: 267px;
  margin-bottom: 30px;
  .card-body {
    height: 160px;
    max-height: 160px;
    overflow: auto;
  }
  .card-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &.add-list {
    .card-body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100%;
      button {
        width: 100%;
        height: 100%;
        font-size: 60px;
      }
    }
  }
}

.ShoppingListMain .header {
  text-align: center;
}
